{% extends 'base.html.twig' %}


{% block title %}Boutiques{% endblock %}

{% block body %}

<main>


<div class="nav2">


</div>
 <div class="titros"> 

        <img class="portas" src="image/porte.png" width="400px" height="400px" alt="">
        <h1 class=" titre">Découvrez nos boutiques :)</h1>
 </div>


<section class="row">



    <div class="col-md-12 bb">
    
    <a href="{{ path('main_shop') }}"><img src="image/Banniere_DeliHump.png" alt=""></a>
    </div>
</section>

<hr>
</main>

{% endblock %}