{% extends "base.html.twig" %}

{% block title %}

Détails de l'article

{% endblock %}


{% block body %}

  


    <div class="album py-5" style="background-color: bisk;">
   

      <div class="row">

        
        <div class="mx-auto col-md-6">
        <h2 class="text-center bg-dark text-white py-2 rounded shadow-lg"></h2>
          <div class="card shadow-lg">
             
              

            
              <div class="col-md-4 bg-success p-4 rounded mx-auto text-center text-white mb-2 shadow-lg">
                 </div>
               

            
             <img class="" src="">
             
            <div class="card-body">
              <p class="card-text">
              
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">Posté le  à  dans la classe
                catégorie <strong>  </strong></small>
              </div>
            </div>
          </div>

          <h4 class="text-center bg-dark text-white my-5 py-1 rounded shadow-sm"> Vos réactions </h4>
              <div class="row bg-container bg-light shadow-sm">
                 
                     <div class="col-md-5">
                          <span class="badge badge-success"> <strong></strong> </span>
                          <i class="text-muted">Posté le  à </i>
                     </div>

                     <div class="col-md-8">

                        <hr>

                     </div>
                  
              </div>
                 
                 
        </div>
       
    </div> 
  </div>
{% endblock %}