/**************************BASE.HTML*********************************/
.row 
{
    justify-content: center !important;
    width: 100%;
    
 
}

/****************NAV***********************/

#navbarSupportedContent
{
    background-color: rgb(20, 20, 20);
}

.navbar 
{
    background-color: rgb(20, 20, 20);
   
    text-align:center !important;
    color: white;
    width: 100%;
    text-transform:uppercase;
    position: fixed !important;
    z-index: 3;
    height: 10vh;
}




nav li
{
    margin-left: 10px;
    margin-right: 10px;
}

li 
{
    list-style: none;
}


nav a:link, a:visited {
    
    color: rgb(20, 20, 20);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
  

}



.hoverable{

    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  
.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
  
/**********************************FIN NAV******************************/




.conteneur-base
{
    min-height: 85vh;
    padding-right:0 !important;
    padding-left:0 !important;
    width: 100% !important;
    
}
.container-fluid
{
    padding-right:0 !important;
    padding-left:0 !important;
}
/***********************************************FOOTER******************************************************************************/



footer
{
    min-height: 17vh;
    background-color: rgb(20, 20, 20) !important;

}

.midfooter
{
    margin-top: 3vh;
    margin-bottom: 3vh;
}



.responimg
{
    padding-right: 1vw ;
    padding-left: 1vw ;
}
.copyright
{
    padding-top: 1vh;
}



.hoverables{

    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverables:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  
.hoverables:hover, .hoverables:active, .hoverables:focus{
    transform: translateY(-8px);
}
.hoverables:hover:before, .hoverables:active:before, .hoverables:focus:before{
    opacity: 1;
    transform: translateY(-1px);
}

footer
{
    padding-top: 20vh;
}

/**************************************************FIN FOOTER*************/

/****************************************ACCUEIL(INDEX.HTML)*********************/




.pouloulou {
    padding-top: 6.8vh;
    display: inline-block;
    position: relative;
    display: flex;
}
.text {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    
    color: white;
    width: 50%;
  
    align-self: center;
}

.sparent
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/*******************DEUXIEME CAROUSEL****************/
.carou2
{
    position: relative;


}

.carou2:hover .image {
    opacity: 0.3;
  }
  
  .carou2:hover .middle {
    opacity: 1;
  }

a.carousel-control-prev, a.carousel-control-next {
    width: 7%;
  }




.picture
{
   
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.texte {
    
    color: black;
    font-size: 30px;
    padding: 16px 32px;
    font-weight: bolder;

  }
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.picture:hover
{
    opacity: 50%;
}

/********************************FIN INDEX.HTML**************************/


/*********************************BOUTIQUE.HTML**************************/




.men_ex
{
    width: 100%;
    margin-top: 12vh;
    display: none;
    overflow: auto;
    max-height: 22vh;
    box-shadow: 1px 1px 10px #555 ;

    opacity: 90%;
}

.lol
{
    position: fixed;
    z-index: 2;
    display: flex;
    min-width: 40%;
    width: 15vw;

}

.ca,.ci
{

    width: 15vw;
    height: 35vh;
}

.titreP
{

    color: red;
}

.logos
{
    display: flex;
    flex-direction: column;
    justify-content: space-around!important;
    height: 100%;

}


#cardeux
{
    padding-bottom: 20vh;
}

.test
{
    background-color: whitesmoke;
}

.gris
{
    width: 30vw;
}

.desc
{
    text-align: center;
    margin-left: 3vw;
}


/***************************************************************/


  
  


.hoverables:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  
.hoverables:hover, .hoverables:active, .hoverables:focus{
    transform: translateY(-8px);
}
.hoverables:hover:before, .hoverables:active:before, .hoverables:focus:before{
    opacity: 1;
    transform: translateY(-1px);
}



.titre
{
    text-align: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    margin-bottom: -5vh;
    font-size: 350%;
    
}

.titros
{
    height: 40vh;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}




.show_hide
{
    margin-top: 21vh;
    z-index: 5 !important;
    
}
/*********************************** Shine */
#party figure {
	position: relative;
    overflow-x: hidden;
}
#party figure::before {
	position: absolute;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(21, 255, 0, 0.151) 0%, rgba(255, 255, 255, 0.274) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.199) 0%, rgba(255, 255, 255, 0.24) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
#party figure:hover::before {
	-webkit-animation: shine 3.75s;
	animation: shine 3.75s;
    
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

figure
{
    margin: 0 !important;
}


/*******************************CONTACT.HTML************************************/
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.coucou
{
    padding-top: 14vh;
}

.logoentour
{
    background: url('../image/marijuana.png');
    height: 15vh;
    width: 15vh;
}

.logo-contact{
    width: 5vw !important;
}

.titrasse
{
    background-color: black;
    margin-bottom: 7vh;
    color: white;
    width: 60%;
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border: solid 1px rgba(0, 0, 0, 0.055);
    box-shadow: 1px 1px 10px rgb(2, 128, 75);
    border-radius: 15px 15px;
}
.coupe
{
    background-color: white;
    height: 0.1vh;
    width: 18vh;
}

.contact
{
    font-size: large;
}
/**************************************************************************/



/****** scroll bar ****/ 

.men_ex::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  .men_ex::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.226);        /* color of the tracking area */
  }
  
  .men_ex::-webkit-scrollbar-thumb {
    background-color:rgb(41, 110, 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(66, 144, 3, 0.096);  /* creates padding around scroll thumb */
  }


  /************ body scroll ******/

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 110, 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(20, 20, 20);  /* creates padding around scroll thumb */
  }



  /********************************/

  .newcolor
  {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
  }

  .newcolor:hover
  {
      background-color: rgb(41, 110, 1);
      color: white;
  }


.sky
{
    padding-left: 1vw;
}

.grostext
{
    font-size: 40%;
}



h1
{
    font-family: 'Bebas Neue', cursive !important;
}

*
{
    font-family: 'Montserrat', sans-serif;
}






.lolback
{
    position: fixed;
    z-index: 3;
    min-width: 40%;
    width: 15vw;
    margin-left: 30%;

}

.men_exback
{
    width: 100%;
    margin-top: 1vh;
    overflow: auto;
    max-height: 22vh;
    box-shadow: 1px 1px 10px #555 ;
    opacity: 90%;
}

.show_hideback
{
    display: flex;
    justify-content: center;
    z-index: 5 !important;
}




.men_exback::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  .men_exback::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.226);        /* color of the tracking area */
  }
  
  .men_exback::-webkit-scrollbar-thumb {
    background-color:rgb(41, 110, 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(66, 144, 3, 0.096);  /* creates padding around scroll thumb */
  }
/************************/

/*******************IDENTIFICATION **************/

.contpading
{
    padding-top: 10%;
}

.conteconec
{
    width: 30%;
    height: 30%;
    margin-left: 35%;
    padding: 1%;
    color: white;
    background-color: rgb(25, 25, 25);
    border-radius: 30px;
}


/*********************FIN IDENTIFICATION*****************************/


/*************BACKOFF**************/

.back 
{
    padding-top: 10vh;
    background-image: url("../image/background.jpg");
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    
}


