.conteneur-base
{
    min-height: 85vh;
    padding-right:0 !important;
    padding-left:0 !important;
    width: 100% !important;
    
}
.container-fluid
{
    padding-right:0 !important;
    padding-left:0 !important;
    padding-top:38px !important;
    padding-bottom:38px !important;
}

footer
{
    padding-top: 20vh;
}


.pd
{
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 100% !important;
    border: solid;
    height: 50vh;
   
}

.pouce
{
    background-image: url('/image/info.png');
    background-repeat: no-repeat; 
    background-size: contain;  
}

.pouce2
{
    background-image: url('/image/pouce.png'); 
    background-repeat: no-repeat; 
    background-size: contain; 
}

.pouce3
{
    background-image: url('/image/truck.png');
    background-repeat: no-repeat; 
    background-size: contain; 
}

.xtet
{
    border: solid;
    max-height: auto;
    min-height: auto;
    min-width: auto;
}
.responimg
{
    border: solid;
    max-height: 50vh;
}

.btik
{
    width: 100%;
}

.testtext
{
  
    padding-left: 2% !important;
    width: 100% !important;
    max-height: 50vh;

   
}

.icone
{
    border: solid;
    height: 33%;
}

.dis
{
  
    height: 50vh;
}

.carou2
{
    position: relative;


}

.carou2:hover .image {
    opacity: 0.3;
  }
  
  .carou2:hover .middle {
    opacity: 1;
  }

a.carousel-control-prev, a.carousel-control-next {
    width: 7%;
  }


  span.carousel-control-next-icon {
   background-color: black;
  }


.picture
{
   
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    
    color: black;
    font-size: 30px;
    padding: 16px 32px;
    font-weight: bolder;

  }
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.picture:hover
{
    opacity: 50%;
}

.ca,.ci
{

    width: 15vw;
    height: 35vh;
}

.titreP
{

    color: red;
}

.logos
{
    display: flex;
    flex-direction: column;
    justify-content: space-around!important;
    height: 100%;

}
.row 
{
    justify-content: center !important;
    width: 100%;
    
 
}

#cardeux
{
    padding-bottom: 20vh;
}

.test
{
    background-color: whitesmoke;
}

.gris
{
    width: 30vw;
}

.desc
{
    text-align: center;
    margin-left: 3vw;
}


/***************************************************************/

.hoverable{

    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  
.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
  
  
  
.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}
  
  
  
  /*everything below here is just setting up the page, so dont worry about it */
  
  

  
.burger
{
    color: white;
}
  
.navbar 
{
    background-color: rgba(0,0,0,1);
    font-weight:600;
    text-align:center !important;
    color: white;
    width: 100%;
    text-transform:uppercase;
    position: fixed !important;
    z-index: 3;
}

nav a:link, a:visited {
    
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

}
  
#pute
{
    display: flex !important;
    align-items: center !important;
}

#proute
{
    font-size: 1vw;
}

nav li
{
    margin-left: 10px;
    margin-right: 10px;
}

li 
{
    list-style: none;
}

/***********************************************FOOTER******************************************************************************/



footer
{
    min-height: 17vh;
    background-color: black !important;

}

.slogan
{
    font-size: 25px;
    text-align: left;
    
}

.midfooter
{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.midfooter a 
{
    padding-right: 1vw ;
    padding-left: 1vw ;
}
.copyright
{
    padding-top: 1vh;
}

.hoverables{

    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverables:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  
.hoverables:hover, .hoverables:active, .hoverables:focus{
    transform: translateY(-8px);
}
.hoverables:hover:before, .hoverables:active:before, .hoverables:focus:before{
    opacity: 1;
    transform: translateY(-1px);
}
/*******************************************Boutique***********************************************************/




.titre
{
    text-align: center;
    background-color: black;
   
    color: rgb(255, 255, 255);
    justify-content: center;
    margin-bottom: 2vh;
    
}

.titros
{
    height: 65vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.portas
{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 20%;
}



.men_ex
{
    width: 100%;
    margin-top: 12vh;
    display: none;
    overflow: auto;
    max-height: 22vh;
}

.lol
{
    position: fixed;
    z-index: 2;
    display: flex;
    min-width: 40%;
    width: 15vw;

}

.show_hide
{
    margin-top: 21vh;
    z-index: 5 !important;
    
}

/*******************************************************************/
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.coucou
{
    padding-top: 14vh;
}

.logoentour
{
    background: url('../image/marijuana.png');
    height: 15vh;
    width: 15vh;
}

.logo-contact{
    width: 5vw !important;
}

.titrasse
{
    background-color: black;
    margin-bottom: 7vh;
    color: white;
    width: 60%;
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border: solid 1px rgba(0, 0, 0, 0.055);
    box-shadow: 1px 1px 10px rgb(2, 128, 75);
    border-radius: 15px 15px;
}
.coupe
{
    background-color: white;
    height: 0.1vh;
    width: 18vh;
}

.contact
{
    font-size: large;
}
/**************************************************************************/

/* Shine */
#party figure {
	position: relative;
    overflow-x: hidden;
}
#party figure::before {
	position: absolute;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(21, 255, 0, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
#party figure:hover::before {
	-webkit-animation: shine 3.75s;
	animation: shine 3.75s;
    
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

figure
{
    margin: 0 !important;
}

#produit, #boutique, #membre, #commentaire, #categorie
{
    background-color: grey;
    color: white;
}