{% extends "base.html.twig" %}

{% block title %}

     AJOUTER UN PRODUIT

{% endblock %}

{% block body %}

 <h1 class="display-5 col-md-8 text-center my-5 pt-1 bg-dark text-white mx-auto rounded shadow-lg">
 AJOUTER UN PRODUIT</span></h1>


    {{form_start (formProduit, {'attr' : {'class' : 'col-md-5 mx-auto'} } ) }}

        {{form_row (formProduit.titre, {'label' : "Titre de la catégorie"} ) }}

        {{form_row (formProduit.description, {'label' : "Déscription de la catégorie", 'attr' : {'rows' : 6}})}}


    <button type="submit" class="btn btn-primary shadow-lg">AJOUTER</button>

 {{form_end (formCatego)}}



 {% endblock %}