{% extends "base.html.twig" %}

{% block title %}

  BACK-OFFICE | MODIFIER DES COMMENTAIRES

{% endblock %}

{% block body %}
<div class="back">

    <h1 class="display-5 col-md-8 text-center my-5 pt-1  text-white mx-auto rounded shadow-lg">
    MODIFICATION DU COMMENTAIRE <small class="badge alert-success mb-1 py-0"></small></h1>

    
    {{form_start (commentForm, {'attr' : {'class' : 'col-md-5 mx-auto text-white'} } ) }}

      {{form_row (commentForm.auteur, {'label' : 'Auteur du commentaire'} ) }}
      {{form_row (commentForm.contenu, {'label' : 'Contenu du commentaire', 'attr' : {'rows' : 6}} ) }}
    

      <button type="submit" class="btn btn-success">MODIFIER</button>

    {{form_end (commentForm)}}  

</div>
 {% endblock %}